$path: '../';

$headerBackImg: url('#{$path}/imgs/block_title/block_title_Back.jpg');

$arrowLeftIcon: url('#{$path}/imgs/icons/arrowLeft.svg');
$arrowRightIcon: url('#{$path}/imgs/icons/arrowRight.svg');

$sliderIsSimplyVariationsBackImg: url('#{$path}/imgs/main/sliderIsSimplyVariations.jpg');

$variationsBackImg: url('#{$path}/imgs/variations/variations_Back.jpg');

$checkBoxDefaultIcon: url('#{$path}/imgs/icons/checkBox.svg');
$checkBoxActiveIcon: url('#{$path}/imgs/icons/checkBoxActive.svg');

$linkFacebookIcon: url('#{$path}/imgs/icons/facebook.svg');
$linkInstagramIcon: url('#{$path}/imgs/icons/instagram.svg');
$linkYoutubeIcon: url('#{$path}/imgs/icons/youtube.svg');
$linkTwitterIcon: url('#{$path}/imgs/icons/twitter.svg');

$dropdownArrowIcon: url('#{$path}/imgs/icons/dropdown-arrow.svg');