$mainTextColor: #4A4D4E;

$mainButtonTheme: #0093E6;
$mainButtonColor: #FFFFFF;



$navbarTheme: #FFFFFF;
$navbarItemTheme: #EFEFEF;
$hamburgerTheme: #000000;

$headerTheme: #F9F9F9;

$sliderTheme: #FFFFFF;
$sliderListTheme: #0093E6;
$sliderBullet: #C4C4C4;
$sliderBulletActive: #4A4D4E;
$sliderButtons: #FFFFFF;

$isSimplyLineColor: #0093E6;
$isSimplyNumberColor: #0093E6;

$livewayTheme: #B4B4B4;
$livewayActiveTheme: #0093E6;
$livewayDotColor: #FFFFFF;
$livewayLineColor: #E5E5E5;

$cardsBackTheme: #F9F9F9;

$infoBoxBackTheme: #0093E6;
$infoBoxColor: #FFFFFF;

$feedbackBackTheme: #FFFFFF;
$feedBackFormPlaceholder: #B4B4B4;
$feedBackFormRequired: #0093E6;

$footerBackTheme: #333333;
$footerColor: #FFFFFF;
$footerDropDownBorder: #FFFFFF;